<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit table</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
        <i class="fa fa-close"></i>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <label>Line</label>
            <input type="number" class="form-control">
        </div>
        <div class="col-12">
            <label>New column (A2)</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-12">
            <label>New column (B2)</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="modal.close('save')">
        Save
    </button>
</div>